@page "/"

@if (devices is null)
{
    <Loader />
}
else
{
    foreach (var deviceGrp in devices.Chunk(3))
    {
        <div class="row mt-4">
            @foreach (var device in deviceGrp)
            {
            <div class="col">
                <Device DeviceModel=device />
            </div>
            }
        </div>

    }
}